HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Gradle ###
/src/main/resources/application-*.yml
!/src/main/resources/application.yml
/src/main/generated/org/umc/spring/domain/common/QBaseEntity.java
/src/main/generated/org/umc/spring/domain/mapping/QMemberAgree.java
/src/main/generated/org/umc/spring/domain/mapping/QMemberMission.java
/src/main/generated/org/umc/spring/domain/mapping/QMemberPrefer.java
/src/main/generated/org/umc/spring/domain/QComment.java
/src/main/generated/org/umc/spring/domain/QFoodCategory.java
/src/main/generated/org/umc/spring/domain/QMember.java
/src/main/generated/org/umc/spring/domain/QMission.java
/src/main/generated/org/umc/spring/domain/QRegion.java
/src/main/generated/org/umc/spring/domain/QReview.java
/src/main/generated/org/umc/spring/domain/QReviewImage.java
/src/main/generated/org/umc/spring/domain/QStore.java
/src/main/generated/org/umc/spring/domain/QTerms.java
/src/main/generated/org/umc/spring/domain/QUuid.java
